# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# SQLite databases (Usually ignored, but you might want to keep finance.db for the reviewer)
# finance.db 

# IDE / OS
.vscode/
.idea/
.DS_Store

README.doc
